## Function

In [1]:
print('Hi all Welcome to Function Class')

Hi all Welcome to Function Class

In [2]:
a = [26,27,29,28,15,14]

In [3]:
a

[26, 27, 29, 28, 15, 14]

In [4]:
len(a)

6

In [5]:
sum(a)

139

In [6]:
max(a)

29

In [7]:
min(a)

14

In [8]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

#### *args - Multiple inputs - list

In [10]:
def sum_n(*args) :
    """
    This function outputs sum of all the given numbers
    """
    s = 0
    for i in args :
        s = s+i
    return s

In [11]:
sum_n(2,4,5,3,7,8,9)

38

#### **kwargs - it will act like a dictionary

In [14]:
def func(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [15]:
func(name='Yash', age=24, JOB='Data Scientist', Married = False)

name : Yash
age : 24
JOB : Data Scientist
Married : False

In [16]:
func(class_name='ETLHive', courses=['Data Scientist', 'Data Analytics'])

class_name : ETLHive
courses : ['Data Scientist', 'Data Analytics']

#### Detectors - Used to modify current function

Input will be function, Output function (Wrapper)

In [17]:
def welcome_decorator(func) :
    def wrapper(*args, **kwargs) :
        print('Hi All Welcome to my function')
        print(func(*args,**kwargs))
        print('Thank you for using my function')
        return func(*args, **kwargs)
    return wrapper

#### Calculate hypotenuse of triangle when 2 sides are given for right angled triangle

C^2 = A^2 + B^2

In [19]:
@welcome_decorator
def hyp(a,b):
    """
    This function calculates hypotenuse of given right angled triangle sides
    """
    c = (a**2 + b**2)**(1/2)
    return c

In [20]:
h1 = hyp(3,4)

Hi All Welcome to my function
5.0
Thank you for using my function

In [21]:
h2 = hyp(a=5, b=8)

Hi All Welcome to my function
9.433981132056603
Thank you for using my function

In [22]:
@welcome_decorator
def product(*args):
    p=1
    for i in args:
        p = p*i
    return p

In [23]:
p1 = product(9,9)

Hi All Welcome to my function
81
Thank you for using my function

In [24]:
p1

81

In [25]:
p2 = product(3,5,8,9)

Hi All Welcome to my function
1080
Thank you for using my function

In [26]:
p2

1080

In [27]:
@welcome_decorator
def sum_n(*args):
    """
    This function outputs sum of all the given numbers
    """
    s = 0
    for i in args :
        s = s+i
    return s

In [29]:
s1 = sum_n(3,9,18)

Hi All Welcome to my function
30
Thank you for using my function

In [30]:
s1

30

In [31]:
3+9+8

20

In [33]:
def name ():
    n = input('Please enter your name: ')
    print(f'Hi {n} welcome to my class')

In [34]:
name()

Hi Yash welcome to my class

In [35]:
e = lambda : input('Please enter your name : ')

In [36]:
e()

'Yash'

#### Practical example of decorator - User authentication

In [37]:
user = {'Yash11' : 'Test@123',
        'Tanvi17' : 'Example@567',
        'Rohini04' : '#Example289'}

In [38]:
user.keys()

dict_keys(['Yash11', 'Tanvi17', 'Rohini04'])

In [40]:
user.values()

dict_values(['Test@123', 'Example@567', '#Example289'])

In [41]:
user.items()

dict_items([('Yash11', 'Test@123'), ('Tanvi17', 'Example@567'), ('Rohini04', '#Example289')])

In [43]:
user['Tanvi17']

'Example@567'

In [44]:
user['Yash11']

'Test@123'

In [45]:
def authenticate(func) :
    def wrapper(username,password,*args,**kwargs) :
        if username in user.keys() and password ==user[username] :
            print(f'Hi {username} Login Successful')
            return func(username, *args, **kwargs)
        else:
            print('Login Unsuccessful Please check username and password')
    return wrapper

In [47]:
@authenticate
def bank_welcome_page(username):
    return f'welcome {username}'

In [56]:
bank_welcome_page(username='Yash11', password='Test@123')

Hi Yash11 Login Successful

'welcome Yash11'

In [58]:
bank_welcome_page(username='Yash11', password='12345')

Login Unsuccessful Please check username and password

In [50]:
bank_welcome_page(username='Tanvi17', password='Test@123')

Login Unsuccessful Please check username and password

In [59]:
@authenticate
def simple_intrest(username, P, N, R):
    """
    P : Principal in INR
    N : Period in years
    R : Rate of interest in %p.a.
    Output will be Intrest I and amount A
    """
    print(f'Principal : {P} INR')
    print(f'Period : {N} Years')
    print(f'Rate of Intrest : {R} %p.a.')
    I = (P*N*R)/100
    A = P + I
    print(f'Simple Intrest : {I:.2f} INR')
    print(f'Amount : {A:.2f} INR')
    return round(I,2), round(A,2)

In [60]:
simple_intrest(username='Yash11', password='Test@123', P=50000, N=2, R=7.10)

Hi Yash11 Login Successful
Principal : 50000 INR
Period : 2 Years
Rate of Intrest : 7.1 %p.a.
Simple Intrest : 7100.00 INR
Amount : 57100.00 INR

(7100.0, 57100.0)

In [61]:
I1, A1 = simple_intrest(username='Tanvi17', password='Example@567', P=50000, N=2, R=7.10)

Hi Tanvi17 Login Successful
Principal : 50000 INR
Period : 2 Years
Rate of Intrest : 7.1 %p.a.
Simple Intrest : 7100.00 INR
Amount : 57100.00 INR

In [62]:
I1

7100.0

In [63]:
A1

57100.0

In [64]:
I2, A2 = simple_intrest(username='Rohini04', password='#Example289', P=80000, N=3, R=8)

Hi Rohini04 Login Successful
Principal : 80000 INR
Period : 3 Years
Rate of Intrest : 8 %p.a.
Simple Intrest : 19200.00 INR
Amount : 99200.00 INR

In [65]:
simple_intrest(username='Rohini04', password='Example@567', P=80000, N=3, R=8)

Login Unsuccessful Please check username and password

In [66]:
simple_intrest(username='Tanvi17', password='9231231', P=70000, N=3, R=7.5)

Login Unsuccessful Please check username and password